.btn, select{
  padding: 6px 8px;
  margin: 2px;
  border: 3px solid lightgray;
  border-radius: 4px;
  color: lightgray;
  background: transparent;
  transition: 0.1s all;
  outline: none;
  &:hover{
    border-color: cyan;
  }
  &.selected{
    animation: pulse 2s infinite;
  }
}

select option {
  background: rgba(48, 47, 47, 0.5);
}

.btn{
  &:active{
    transform: translate(2px, -2px);
  }
}

.control-block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 15%;
  margin-bottom: 80px;
}

.search-form__input{
  margin-bottom: 10px;
}

.btn__wrapper{
  width: 240px;
  margin-bottom: 10px;
}

.swiper-button-next, .swiper-button-prev {
  color: lightgray;
}

@keyframes pulse {
  0%   { border-color: rgb(208, 255, 0); }
  50% { border-color: rgb(245, 56, 81); }
  100% { border-color: rgb(208, 255, 0); }
}
