.btn, select{
  cursor: pointer;
  padding: 6px 8px;
  margin: 2px;
  border: 3px solid lightgray;
  border-radius: 4px;
  color: lightgray;
  background: transparent;
  transition: 0.1s all;
  outline: none;
  &:hover{
    border-color: cyan;
  }
  &.selected{
    animation: pulse 2s infinite;
  }
}

.btn .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  border: 3px solid lightgray;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.btn:hover .tooltiptext {
  visibility: visible;
}

select option {
  background: rgba(48, 47, 47, 0.5);
}

.btn{
  position: relative;
  &:active{
    transform: translate(2px, -2px);
  }
}

.control-block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px 15%;
  margin-bottom: 80px;
}

.search-form__input{
  margin-bottom: 10px;
}

.btn__wrapper{
  width: 240px;
  margin-bottom: 10px;
}

.swiper-button-next, .swiper-button-prev {
  color: lightgray;
}

@keyframes pulse {
  0%   { border-color: rgb(208, 255, 0); }
  50% { border-color: rgb(245, 56, 81); }
  100% { border-color: rgb(208, 255, 0); }
}
