@import '~normalize.css';
@import url('https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css');
@import '../../node_modules/swiper/css/swiper.min.css';

#mapbox{
  width: 400px;
  height: 400px;
  clip-path: circle(50% at 50% 50%);
}

.app{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  background-blend-mode: normal;
}

.slide__icon{
  width: 100px;
  height: 100px;
  img{
    width: 100%;
  }
}

.swiper-slide__container{
  width: 300px;
}

.swiper-slide {
  width: 300px;
}

